.geral{
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.esquerda{
    display: flex;
    flex-direction: column;
    width: 45vh;
    height: 100vh;
    justify-content: space-around;
   
}
.logar{
    height: 100vh;
    width: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.login-links{
    height: 40vh;
    width: 45vh;
    display: flex;
    flex-direction: column-reverse;
    
}

