.popularesgeral{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}
.midpopulares{
    margin-top: 10vh;
    width: 100vw;
    height: 90vh;
}


