@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.geralrodape{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 25vh;
    background-color: #97A4A2;
    align-items: center;
}
.rodapecima{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    left: 0;
}
.imgrodape{
    height: 12vh;
    width: 6vw;
}
.rodapeescrito{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    left: 0;
}
.imgebordao{
    margin-left: -3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.startrodape{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}
.titlestartrodape{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    color: #FFFFFF;
}
.textstartrodape{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #FFFFFF;
}
.midrodape{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}
.textmidrodape{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}
.refrodape{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.endrodape{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.titleendrodape{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}
.iconrodape{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}
.iconsrod{
    height: 20px;
    width: 20px;
}
.textendrodape{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}
.infrodape{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    text-align: center;
}
.textinfrodape{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #4B626C  ;   
}
@media (max-width: 425px) {
    .geralrodape{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 425px;
        height: 205px;
        
    }
    .rodapecima{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
    .imgrodape{
        height: 100px;
        width: 100px;
    }
    .startrodape{
        display: none;
    }
    .midrodape{
        display: none;
    }
    .endrodape{
        display: flex;
    }
    .titleendrodape{
        display: none;
    }
}