@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.geralrecup{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.esquerdarecup{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}
.recup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 2;
    height: auto;
}
.titulorecup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    color: #4B626C;
    
}
.titulorecup2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    color: #4B626C;
    margin-top: -10%;
}
.recuperar{
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.inputrecup{
    margin-bottom: 10%;
    border-radius: 5px;
    height: 35px;
    width: 300px;
    border: 0;
    box-shadow: 0px 4px 20px 0px #00000040;
    background-color: #FBF8F4;
    font-family: Montserrat;
    font-weight: 300;
    text-align: left;
}
.botaorecup{
    display: flex;
    width: 42px;
    height: 30px;
    background-image: url(src/imgs/botao.png);
    border: 0;
    background-color: #FBF8F4;
    cursor: pointer;
    position: relative;
    z-index: 2;
    left: 130px;
}
.recuplinks{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Montserrat";
    text-align: end;
    position: relative;
    height: auto;
    z-index: 2;
    top: 40%;
    right: 20%;
}
.refrecup{
    text-decoration: none;
    color: #97A4A2;
    font-family: Montserrat;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
}
@media (min-width: 1921px) {
    .geralrecup{
        width: 100%;
        height: 100%;
    }
    .esquerdarecup{
        position: relative;
        margin-left: 50px;
        width: 30vw;
        height: 100vh;
    }
    .titulorecup{
        font-size: 100px;
    }
    .titulorecup2{
        font-size: 100px;
    }
    .inputrecup{
        width: 400px;
        height: 40px;
    }
    .botaorecup{
        left: 180px;
    }
    .refrecup{
        font-size: 24px;
    }
}
@media (max-width: 768px) {
    .geralrecup{
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .esquerdarecup{
        position: relative;
        margin-left: 0px;
        margin-top: 65%;
        width: 100%;
        height: 100%;
    }
    .titulorecupgeral{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .titulorecup{
        font-size: 32px;
    }
    .titulorecup2{
        font-size: 32px;
        position: relative;
        bottom: -25px;
    }
    .recuperar{
       width: 100%;
       height: auto;
       
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
    }
    .inputrecup{
        width: 338px;
        height: 32px;
    }
    .recuplinks{
      margin-top: 15%;
      margin-bottom: 10%;
      
    }
    
    

}
@media (max-width: 425px) {
   
    .esquerdarecup{
        margin-top: 80%;
    }
    .recuplinks{
        right: 90px;
    }
   
    
    
}
@media (max-width: 375px) {
   .inputrecup{
       width: 250px;
   }
    .botaorecup{
       left: 110px;
   } 
   .recuplinks{
    right: 50px;
   }
}