.ImagemEntrada {
  
  position: absolute;
  z-index: 1;
}
.imgentrada{
  position: fixed;
  
  margin-top: -162px;
}
@media (min-width: 1921px) {
  
  .imgentrada{
    width: 70%;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .ImagemEntrada {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imgentrada{
    position: relative;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .ImagemEntrada {
    width: 100%;
    height: auto;
  }
  .imgentrada{
    position: relative;
    width: 80%;
    top: 93px;
  }
}
@media (max-width: 425px) {
  .ImagemEntrada {
    width: 100%;
    height: auto;
  }
  .imgentrada{
    position: relative;
    width: 100%;
    top: 93px;
  }
}