@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.homegeral{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.homecabecalho{
    position: relative; 
    z-index: 1000; 
}
.midhome{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.escondermobile{
    visibility: hidden;
    position: absolute;
    height: 0; 
    overflow: hidden; 
}
.escondergrande{
    visibility: visible;
    position: static;
}
.carroselgrande {
    display: block;
    position: static;
    height: auto;
    width: 85vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.grid-container {
    visibility: visible;
    position: static;
    display: grid !important;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
}
.small-item{
    padding-right: 1px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.imgcarroselgrande{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.big-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    grid-column: 2;
    grid-row: 1/3;
    transition: transform 0.3s ease-in-out;
}
.big-item:hover,
.small-item:hover {
    transform: scale(1.02);
}
.info {
    background-color: #4B626C;
    width: 65px;
    height: 23.91px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    bottom: 7px;
    left: 7px;
}  
.info2 {
    width: 100px;
    height: 23.91px;
    border-radius: 5px ;
    background-color: #FCFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    bottom: 7px;
    left: 80px;
}
.infobig {
    background-color: #4B626C;
    width: 65px;
    height: 23.91px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    bottom: 7px;
    right: 115px;
} 
.info2big {
    width: 100px;
    height: 23.91px;
    border-radius: 5px ;
    background-color: #FCFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    bottom: 7px;
    right: 7px;
    
}
.textinfo{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #FCFAFA;
}
.textinfo2{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #4B626C;
}
.iconeAvancarSlideCarrossel,
.iconeVoltarSlideCarrossel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center; 
    z-index: 2;
    border: none;
    background: none;
    color: #97A4A2;
    font-size: 100px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.iconeAvancarSlideCarrossel {
    left: 100%;
}
.iconeVoltarSlideCarrossel {
    right: 100%;
}
.iconeAvancarSlideCarrossel:hover,
.iconeVoltarSlideCarrossel:hover {
    transform: translateY(-50%) scale(1.1); 
}

.slick-dots {
    position: absolute !important;
    bottom: 30px !important; 
    left: 50% !important; 
    transform: translateX(-50%) !important; 
    display: flex !important;
    justify-content: center !important;
    gap: 10px !important; 
}

.slick-dots li button::before {
    font-size: 15px !important; 
    color: #97A4A2 !important; 
    opacity: 1 !important; 
    transition: color 0.3s ease-in-out !important;
}
.carroselbaixo{
    width: 100%;
    height: auto;
    background-color: #4B626C;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titlelancamentos{
    position: relative;
    left: 20px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 300;
    text-align: left;
    color: #FBF8F3;
}

.carrosellancamentos {
    position: relative;
    width: 90%;
    overflow: hidden;   
}
.iconeAvancarSlideCarrosselLancamento,
.iconeVoltarSlideCarrosselLancamento {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center; 
    z-index: 2;
    border: none;
    background: none;
    color: #FBF8F3;
    font-size: 100px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.iconeAvancarSlideCarrosselLancamento {
    right: -10px; 
}
.iconeVoltarSlideCarrosselLancamento {
    left: -10px; 
}
.iconeAvancarSlideCarrosselLancamento:hover,
.iconeVoltarSlideCarrosselLancamento:hover {
    transform: translateY(-50%) scale(1.1); 
}
.itemlancamento{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: auto !important;
    width: auto !important;
    transition: transform 0.3s ease-in-out;
}
.itemlancamento:hover {
    transform: scale(1.05);
}
.imglancamento{
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
}
.infolancamento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 25px;
    background-color: #FCFAFA;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    bottom: -240px;
    right: 45px;
}
.precolancamento{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #4B626C;
}
.carrinhoiconprincipal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    bottom: 10px;
    right: 10px;
}
.carrinhoprincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: #4B626C;
    border: 2px solid #FFFFFF;
}
.imgcarrinhoprincipal{
    height: 40px;
    width: 40px;
}
@media (max-width: 1138px) {
    .iconeAvancarSlideCarrossel {
        font-size: 80px;
        left: 98%;
    }
    .iconeVoltarSlideCarrossel {
        font-size: 80px;
        right: 98%;
    }
}
@media (max-width: 768px) {
    .carroselmobile {
        visibility: visible;
        position: static;
        width: 80%;
        height: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    
    .escondermobile {
        visibility: visible;
        position: static;
        width: 100%;
        height: auto;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    
    .escondergrande {
        visibility: hidden;
        position: absolute;
        height: 0;
        overflow: hidden;
    }


    .slidemobile{
        position: relative;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .slidemobile:hover{
        transform: scale(1.05);
    }
    .imgcarroselmobile{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .posicaoslidemobile {
        position: static;
        top: 0; 
        left: 0; 
        z-index: 3; 
    }
    .iconeAvancarSlideCarrossel {
        font-size: 70px;
        right: -20px; 
    }
    .iconeVoltarSlideCarrossel {
        
        font-size: 70px;
        left: -70px; 
    }
    .carroselbaixo{
        width: 100%;
        height: 380px;
    }
    .titlelancamentos{
        font-size: 24px;
    }
   
    .iconeAvancarSlideCarrosselLancamento{
        font-size: 70px;
    }
    .iconeVoltarSlideCarrosselLancamento {
        font-size: 70px;
    }
}
@media (max-width: 540px) {
    .iconeAvancarSlideCarrossel {
        font-size: 50px;
        right: -20px; 
    }
    .iconeVoltarSlideCarrossel {
        
        font-size: 50px;
        left: -70px; 
    }
}
@media (max-width: 430px) {
    .iconeAvancarSlideCarrossel {
        font-size: 50px;
        right: 10px; 
    }
    .iconeVoltarSlideCarrossel {
        
        font-size: 50px;
        left: -50px; 
    }
}
@media (max-width: 404px) {
    .iconeAvancarSlideCarrossel {
        font-size: 50px;
        right: -20px; 
    }
    .iconeVoltarSlideCarrossel {
        
        font-size: 50px;
        left: -60px; 
    }
}

