.homegeral{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}
.homecabecalho{
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px 0px #00000040;  
}
.midhome{
    margin-top: 10vh;
}
.carroselcima{
    width: 100vw;
    height: 40vh;
}
.carroselbaixo{
    width: 100vw;
    height: 25vh;
    background-color: #4B626C;
}
.homerodape{
    left: 0;
}
